In [1]:
print('Hello World!')
a=7
print(a)

Hello World!
7

In [2]:
print(2345)

2345

In [3]:
print("2092")

2092

In [4]:
a = 100
#print(a)
b = "Haris "
print(b)

Haris

In [5]:
'''It's a course
named
"python"

hf'''
print("Haris Saleem")

Haris Saleem

In [6]:
print("My name is haris saleem")
# print(it is a single line comment)
print("Haris saleem FA20-BSE-022")

My name is haris saleem
Haris saleem FA20-BSE-022

In [7]:
print("""Multi-line String""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line

print("My name is ayesha. I'm a student at university.I'm a good student.")

Multi-line String
My name is ayesha. I'm a student at university.I'm a good student.

In [8]:
a = "a variable"
iss = "won't allow a variable"
print(a)
print(iss)

a variable
won't allow a variable

In [9]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [10]:
a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

Icode Guru,
Icode , Guru,

In [11]:
myvariable = "Python"
print("myvariable")

myvariable

In [12]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

88.5

In [13]:
a = 10
a = 5
print(a)

5

In [14]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"
print(camelCase)

100

In [16]:
camelCase = 100
snake_case = 5.9
PascalCase = "Haris Saleem|"
print(camelCase)
print(snake_case)
print(PascalCase)

100
5.9
Haris Saleem|

In [17]:
x, y, z = "Haris Saleem", 022, "Apple"
print(x)
print(y)
print(z)

SyntaxError: ignored

In [18]:
x, y, z = "Haris Saleem", 22, "Apple"
print(x)
print(y)
print(z)

Haris Saleem
22
Apple

In [19]:
x, y, z = "Haris Saleem", 22, "COMSATS"
print(x)
print(y)
print(z)

Haris Saleem
22
COMSATS

In [20]:
a , b = 5 , 8
print(a)
print(b)

5
8

In [21]:
x = y = z = "Haris Saleem"
print(x)
print(y)
print(z)

Haris Saleem
Haris Saleem
Haris Saleem

In [22]:
a = b = c = 123
print(a)
print(b)
print(c)

123
123
123

In [23]:
b = 2
print(b)

2

In [24]:
#b = 45
print(b)

2

In [25]:
b = 45
print(b)

45

In [26]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [27]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)
print(a)

5
6
7
8

In [28]:
x = 5
y = 5
x = 10
print(x)
print(y)

10
5

In [29]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [30]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

139962706427952
139962706257904

In [31]:
haris="haris saleem"
print(id(haris))

139962706293616

In [32]:
string_var = "Haris Saleem"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Haris Saleem
20
18.23
False

In [33]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

1
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [34]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [35]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [36]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [37]:
boolean = True
integer = int(boolean)
print(integer)

1

In [38]:
x = int(input("Enter anything"))
#print(x + 5)
#print(type(x))

Enter anything2

In [39]:
x = int(input("Enter anything"))
#print(x + 5)
#print(type(x))
print(x)

Enter anything4
4

In [40]:
print('My name is Tahmas.')
a = "6"

My name is Tahmas.

In [41]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [42]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 12
12
<class 'int'>
14

In [43]:
print(8.0+4)

12.0

In [44]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 1
5
<class 'int'>

In [45]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [46]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [47]:
#Division
x = 5
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [48]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [49]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [50]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [51]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [52]:
print(12 + 5 * (4 - 2))

22

In [53]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

In [54]:
x = 5
x **= 5    #x = x**5
print(x)

3125

In [55]:
a = 7
b = 10
print(a!=b)
#print(a==b)
#print(a<b)

True

In [56]:
a = 10
b = 10
print(a!=b)
#print(a==b)
#print(a<b)

False

In [57]:
x = 9
#print(x < 11 and  x < 10)
print(x < 5 or x < 10)
print(not (x < 5 not x < 10))
print(not x > 10)

SyntaxError: ignored

In [58]:
x = 9
print(not x>10)

True

In [59]:
a = 20
b = 70
print(a==b or a>b)

False

In [60]:
var1 = "Python for Beginners"
#print("p" in var1)
var2 = ["orange", 5, "3.5"]
#print("orange" not in var2)

print("o" in "iCodeGuru")

True

In [61]:
a = 10
b = 10

print(a is b)
print(id(a))
print(id(b))

True
9793376
9793376

In [62]:
a = 10
b = "10"
#a = 11
print(a is b)
print(id(a))
print(id(b))

False
9793376
139963829405616

In [63]:
x = "Python"
print(x)
y = 'Programming'
print(y)

Python
Programming

In [64]:
message1 = """Hello there, I am learning
python programming language!"""
print(message1)
message2 = '''

Now, we are learning about 
multiline string'''
print(message2)

Hello there, I am learning
python programming language!


Now, we are learning about
multiline string

In [65]:
x = "String"
y = "Concatenation"
print(x + y)
z = x + " " + y  #z = StringConcatenation

print(z)

StringConcatenation
String Concatenation

In [66]:
x = "Hello"
print(x[4])
print(x[0])
print(id(x))

print(id(x[0]))
print(id(x[1]))
message = """Hello there, I am learning
python programming language!"""
print(message[6])

o
H
139962706427952
139963834390832
139963834834672
t

In [67]:
x = "Enter"
print(id(x))
print(id(x[0]))

139963817287920
139963834390640

In [68]:
x = "Pakistan "
print(x*5)

Pakistan Pakistan Pakistan Pakistan Pakistan

In [69]:
x = "Hello"
print(id(x))
print(id(x[3]))

139962706427952
139963834912432

In [70]:
list1 = [2, 3, 4, 66]     #[66, 3, 4, 2]
list1[0] = list1[3]
print(list1)

[66, 3, 4, 66]

In [71]:
string = "Python Programming Language"
# print(string[2])
print(len(string))
x = len(string)
print(x)

27
27

In [72]:
string = "Python Programming"
print(string.index("Po"))
index = string.index("y")
print(index)

ValueError: ignored

In [73]:
for iterator in "hello+":
  print(iterator)
for x in "Python":
   print("1")

h
e
l
l
o
+
1
1
1
1
1
1

In [74]:
x = "How to use membership operator"
print("o" in x)

print("Yes" not in "Python")

True
True

In [75]:
x = "Hello"
print(x[:])
print(x[2::2])

Hello
lo

In [76]:
x = "Hello World"
print(x[::-1])

dlroW olleH

In [77]:
string = "We are learning about string slicing."
print(len(string))
print(string.index(" "))
print(string[2])
print(string[4])
print(string[3:9:2])
print(string[:36:3])
print(string[7::])

37
2

r
ael
Wa ai o rgli
learning about string slicing.